/* @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&displayswap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
	font-family: 'poppins', sans-serif;
	margin: 0;
	padding: 0;
    color: white;
    background-color: black;
}


.FirstScreen {
    height: 100vh;
    width: 100vw;
    background-color: Black;
}

.Navigation {
    height: 15vh;
    width: 100vw;
    background-color: black;
    margin-bottom: 20vh;
}

.Active {
    color:cyan;
}

ul {
    padding-top: 6.5vh;
    float: right;
    padding-right: 90px;
}

ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 55px;
}

ul li a {
    text-decoration: none;
}

.Logo {
    height: 10vh;
    width: auto;
    padding-top: 2.5vh;
    padding-left: 70px;
}



.OverSubHeading {
    font-size: 19px;
}

.Heading {
    font-size: 95px;
    width: 85vw;
}

.Image {
    border-radius: 3%;
    height: 25vh;
}

.First {
    margin-left: 14vw;
    width: 20vw;
    margin-right: 5vw;
    transition: .5s ease-in-out;
}

.First:hover {
    opacity: .5;
}


.Second {
    width: 20vw;
    margin-right: 5vw;
    transition: .5s ease-in-out;
}

.Second:hover {
    opacity: .5;
}


.Third {
    margin-right: 14vw;
    width: 20vw;
    transition: .5s ease-in-out;
}

.Third:hover {
    opacity: .5;
}


.Container2 {
    margin-top: 100px;
    height: 25vh;
    display: flex;
}

.Cyan {
    color:cyan;
}

.Additions {
    margin-top: 10px;
    font-size: 40px;
}

.box1 {
    margin-left: 14vw;
    width: 20vw;
    margin-right: 5vw;
}

.box2 {
    width: 20vw;
    margin-right: 5vw;
}

.box3 {
    margin-right: 14vw;
    width: 20vw;
}

.Container3 {
    margin-top: 30px;
    height: 25vh;
    display: flex;
}

.undertext {
    color: #7E7E7E;
}